.pg-bar{
  background-color: #F5F6F8;
  box-shadow: inset 0px 2px 4px rgba(17, 17, 17, 0.16);
  width: 250px;
  height: 20px;
  border-radius: 10px;
}

.pg-bar .indicator{
  border-radius: 10px;
  height: 100%;
  width: 70%;
  background-color: #5F2EEA;
}